REACT_APP_BASE_URL=https://apps-1.lampnets.com/ecommb-prod

REACT_APP_COUNTRIES_API_URL=https://countriesnow.space/api/v0.1/countries

REACT_APP_PAYSTACK_PUBLIC_KEY=pk_live_612e94b5df133e5c904843a8c89701124a746003